.album__album-cover {
    flex-basis: content;
}

.album__data {
    flex-basis: 70%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.album__album-name {
    display: inline-block;
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.album__album-year {
    font-size: .775rem;
    line-height: 1.25rem;
    color: #999;
}

.album__track-content
{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: .875rem;
    line-height: 3rem;
}

.album__track-content:hover {
    color: red
}

.album__track-list {
    color: #fff;

}

.album__track-name {
    min-width: 12rem;
    width: 100%;
}

.album__track-duration {
    text-align: right;
}
.album-card figure {
    position: relative;
    z-index: 1;
}

.album-card figcaption {
    background-color: var(--serch);
    z-index: -1;
    position: relative;
    top: -2px;
    /* width: 9.56rem; */
    margin: auto;
    padding: 1rem 0.5rem;
    border-radius: 0.125rem;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.65),inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.15);
}