.aside {
    /* position: fixed; */
    display: inline-block;
    /* width: 12.5rem; */
    background-color: var(--serch);
    box-shadow: 0.625rem 0 0.625rem 0 rgba(0, 0, 0, 0.15);
    font-family: var(--family);
    
    min-height: 100%;
    transition: 1s;
    z-index: 3;
    padding-top: 0.5;
}


.aside-show {
    top: 0;
    left: 0;
}


.logo{
    width: 75px;
    height: 75px;
    display: block;
    margin: 5px auto;
}

.title {
    font-size: var(--big);
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
}

/* .sub-menu {
    display: none;
} */

.menu__link, .sub-menu__link {
    color: var(--white);
    font-size: var(--medium);
    padding: 1.125rem 0 1.125rem 1.375rem;
    display: block;
    border-left: 0.1875rem solid transparent;
    
}

.sub-menu__link {
    padding: 1.125rem 0 1.125rem 2.7rem;
}

.menu__item:hover > .sub-menu {
    display: block;
}

.menu__link:hover, .sub-menu__link:hover {
    background-color: #1c1c1c;
    border-left: 0.1875rem solid var(--red);
}
.sub-menu__artist__likes, .sub-menu__albums__likes, .sub-menu__songs__likes{
    display: inline-block;
    padding: 4px 8px 2px 8px;
    color: var(--card);
    font-size: var(--medium);
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
}



@media (min-width: 480px) {
    .aside {
        display: none;
        }
  }

@media (min-width: 768px) {
    .aside {
    width: 12%;
    display: inline-block;
    position: fixed;


    }
}
