.results__pages{
top: 77px;
left: 0px;
width: 100%;
position: fixed;
z-index: 5;
display: none;
flex-wrap:  wrap;
justify-content: space-around;
}
.results__btn--prev, .results__btn--next{
    position: relative;
    border: 2px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.582);
   
}
.results__btn--prev{
    width: 75px;
    height: 87vh;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: 138px;
}
.results__btn--next{
    width: 75px;
    height: 87vh;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 298px;
}
span{
    display: block;
    position: relative;
    transform: translate(0px, 250px);
    font-size: 14px;
    color: var(--white);
    font-family: var(--family);
}