
.results__btn--prev, .results__btn--next{
    top: 230px;
    z-index: 5;
    display: none;
    position: fixed;
    border: 2px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.582);
    transition: background-color 0.5s ease;
   
}

.results__btn--prev:hover, .results__btn--next:hover{
    color: red;
    background-color: rgba(0, 0, 0, 0.842);
    cursor: pointer;
}
.results__btn--prev{
    width: 75px;
    height: 25vh;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* left: 163px; */

    float: left;
}
.results__btn--next{
    width: 75px;
    height: 25vh;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0px;
}
span{
    display: block;
    position: relative;
    transform: translate(16px, 60px);
    font-size: 14px;
    color: var(--white);
    font-family: var(--family);
}


.card-container:hover + .preview__play {
    display: block;
}


.preview__play, .youtube__play{
    display: none;
    position: absolute;
    font-size: var(--big);
    color: var(--white);
    width: 111px;
    height: 65px;
    border: none;
    cursor: pointer;
    transition: all .2s;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.767);
    top: 27%;

}

.preview__play:hover, .youtube__play:hover{
    color: var(--red);
}
.preview__play{
    right: 0px;
}
.youtube__play{
    left: 0px;
}