.container {
    /* max-width: 64rem; */
    min-width: 20rem;
    margin: auto;
    /*padding: 0 1rem;*/
    background-color: var(--main);
    position: relative;
}


@media (min-width: 768px) {
    .container {
        display: flex;
    }
}