
.none {
    display: none;
}


@media (min-width: 480px) {
  .content {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: min-content;
    justify-items: center;
    column-gap: 5px;
  row-gap: 5px;
    
}

  
}

@media (min-width: 550px) {
  .content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: min-content;
    justify-items: center;
    column-gap: 5px;
  row-gap: 5px;
    
}
 
}

@media (min-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: min-content;
    justify-items: center;
    column-gap: 1%;
  row-gap: 15px;
    
}

}


 
 