

     .back__music{
       display: block;
       position: relative;
       top: -9px;
    left: 3%;
       padding: 0.3rem;
      border: none;
      background-color: var(--red);
      color: var(--white);
      text-transform: uppercase;
      border-radius: 0.225rem;
     }
    .fig {
      height: 25rem;
      position: relative;
      transform: scale(1.04) translateY(-1px);
      transform-origin: top; }
      
    .music__img {
        position: relative;
      right: 32%;

        display: block;
        width: 30%; /* width of container */
        height: auto; /* height of container */
        object-fit: cover;
         }
    .music__title {
      position: relative;
      display: block;
      bottom: 0;
      top: -65%;
      left: 36%;
      color: #fff;
      /* font-weight: 700; */
      font-size: 3.5rem;
      text-transform: uppercase;
      width: 60%;
      /* line-height: 1.95; */
      text-align: center; }
      
      .album__title {
        position: relative;
        display: block;
        bottom: 0;
        top: -86%;
        left: 36%;
        color: #fff;
        /* font-weight: 700; */
        font-size: 3.5rem;
        text-transform: uppercase;
        width: 60%;
        /* line-height: 1.95; */
        text-align: center; }
    
    
    .info-data {
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    position: relative;
    display: block;
    bottom: 0;
    top: -65%;
    left: 16%;
    text-align: center;
       }

      
   
    
      /* .music__love:hover { */
        /* transform: scale(1.07); } */

        .info {
          color: #fff;
          font-size: 23px;
          text-transform: uppercase;
          position: relative;
          display: block;
          bottom: 0;
          top: -88%;
          left: 16%;
          text-align: center;
             }

             .album__info-data{
               margin: 15px;
             }

             .music__love__music{
              right: 29px;
              width: fit-content;
              top: -17px;
              position: absolute;
              border: none;
              cursor: pointer;
              margin-left: auto;
              transition: all .2s;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: rgba(0, 0, 0, 0);
          }
          
          .music__love__music svg {
              height: 3rem;
              width: 3rem;
              fill: rgb(255, 255, 255);
              filter: drop-shadow(0px 1px 1px #000000e7);
          }
          .music__love__tracks{
            right: -33px;
            width: fit-content;
            top: 50%;
            position: relative;
            border: none;
            cursor: pointer;
            margin-left: auto;
            transition: all .2s;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0);
            }

.music__love__tracks svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: rgb(255, 255, 255);
    filter: drop-shadow(0px 1px 1px #000000e7);
}
          