.now-playing {
  display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0.625rem 0 0.625rem 0 rgba(0, 0, 0, 0.15);
    font-family: var(--family);
    position: fixed;
    top: 90%;
    /* left: -62.5rem; */
    min-height: 10%;
    transition: 1s;
    z-index: 2;
}

.music-controller{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 15%;
    height: auto;
    margin: auto;
    justify-content: space-between;

}
.prev, .preview-play, .youtube-play, .next{
    height: 30px;
    width: 63px;
    margin: 0 10px;
    border: none;
    color: rgb(75, 75, 75);
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    font-size: 10px;
    font-weight: bold;
}

.prev:hover, .preview-play:hover, .youtube-play:hover, .next:hover{
background-color:var(--red);
color: var(--white);
}
/* ////////////////////////imported player///////////////////////////////////// */


  .holder {

    display: flex;
    flex-direction: column;
    align-items: center;

    
  }
  
  .audio.green-audio-player {
    width: 40%;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
  }
  .audio.green-audio-player .play-pause-btn {
    display: none;
    cursor: pointer;
  }
  .audio.green-audio-player .spinner {
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
  }
  .audio.green-audio-player .slider {
    flex-grow: 1;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
  }
  .audio.green-audio-player .slider .progress {
    background-color: #44BFA3;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
  }
  .audio.green-audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #d12f2f;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
  }
  .audio.green-audio-player .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .audio.green-audio-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
  }
  .audio.green-audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
  }
  .audio.green-audio-player .controls .slider .progress .pin {
    right: -8px;
    top: -6px;
  }
  .audio.green-audio-player .controls span {
    cursor: default;
  }
  .audio.green-audio-player .volume {
    position: relative;
  }
  .audio.green-audio-player .volume .volume-btn {
    cursor: pointer;
  }
  .audio.green-audio-player .volume .volume-btn.open path {
    fill: #d32f2f;
  }
  .audio.green-audio-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    top: -140px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .audio.green-audio-player .volume .volume-controls.hidden {
    display: none;
  }
  .audio.green-audio-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
  }
  .audio.green-audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
  }
  .audio.green-audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
  }
  .total-time{
    position: absolute;
    top: -30%;
    right: 39%;
  }
  .current-time{
    position: absolute;
    top: -30%;
    left: 36%;
  }
  .current-title{
    position: absolute;
    top: -30%;
    left: 41%;
  }
  
  
  
  
  
  @keyframes spin {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(1turn);
    }
  }
  
