.now-playing {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0.625rem 0 0.625rem 0 rgba(0, 0, 0, 0.15);
    font-family: var(--family);
    position: fixed;
    top: 90%;
    /* left: -62.5rem; */
    min-height: 10%;
    transition: 1s;
    z-index: 2;
}

.music-controller{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 15%;
    height: auto;
    margin: auto;
    justify-content: space-between;

}
.prev, .play, .next{
    height: 40px;
    width: 40px;
    margin: 10px auto;
    border: none;
    color: rgb(75, 75, 75);
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}