.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: +2;
    left: 10%;
    width: 90%;
    /* flex-wrap: wrap; */
    font-family: var(--family);
    background-color: var(--serch);
    padding: 1.5rem 0.75rem 0;
    box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.15);
}

.search__form {
     flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;  
    
}

.search__input {
    font-size: var(--medium);
    padding: 0.5rem 0.5rem ;
    background-color: #1f1f1f;
    border: none;
    color: #4c4c4c;
    margin-right: 0.5rem;
    flex-basis: 65%;
}

.search__btn {
    padding: 0.5rem;
    border: none;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 0.225rem;
    flex-basis: 40%;
}



.chart-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.chart-list__item {
    cursor: pointer;
    padding: 1rem 1.5rem;
    /* border-bottom: 0.1875rem solid transparent; */
    text-transform: uppercase;
    color: var(--white);
}

.chart-list__item:hover {
    color: var(--red);
}
.active{
    background-image: linear-gradient(0deg, rgb(33, 33, 33) 0%, rgb(38, 38, 38) 100%);
    border-bottom: 0.1875rem solid var(--red);
}


@media (min-width: 480px) {
    
    
    .search {
        width: 100%;
    left: 0%;

   }
   .search__form {
    flex-basis: 20%;
   display: flex;
   align-items: center;
   justify-content: left;
   margin-bottom: 1rem;  
   
}
.chart {
    flex-basis: 20%;
    display: flex;
}
.chart-list__item {
    cursor: pointer;
    padding: 2px;
    padding-bottom: 15px;
    font-size: 14px;

   
}
.search__form {
    flex-basis: 20%;
    margin-left: 1px;

}


    
}

@media (min-width: 550px) {
    
    
    .search {
        width: 100%;
        left: 0%;
   }
   .search__form {
    flex-basis: 30%;
   display: flex;
   align-items: center;
   justify-content: left;
   margin-bottom: 1rem;  
   
}
.chart {
    flex-basis: 50%;
    display: flex;
}
.chart-list__item {
    cursor: pointer;
    padding: 2px; 
    padding-bottom: 15px;
    font-size: 14px;

   
}
.search__form {
    flex-basis: 30%;
    margin-left: 90px;
}

}



@media (min-width: 1024px) {
    
    
    .search {
        width: 90%;
        left: 10%;
   }
   .search__form {
    flex-basis: 50%;
   display: flex;
   align-items: center;
   justify-content: left;
   margin-bottom: 1rem;  
   
}
.chart {
    flex-basis: 100%;
    display: flex;
}

.chart-list__item {
    cursor: pointer;
    font-size: 16px;
    padding: 1rem 1.5rem;
    /* border-bottom: 0.1875rem solid transparent; */
    text-transform: uppercase;
    color: var(--white);

   
}

}




